/AD/UA01 Ficheros/Ejercicios/Ejercicio_1/build/
/AD/UA01 Ficheros/Tarea/AD_UA1_Tarea1/build/
/PSP/PSP 00/PruebaEmpaquetadoJarANT/nbproject/private/
/PSP/PSP 00/PruebaEmpaquetadoJarANT/dist/
/PSP/PSP 00/PruebaEmpaquetadoJarANT/build/
/PSP/PSP 00/PuebaEmpaquetadoJarMaven/target/
/PSP/PSP 00/BasicSpringbootProject/target/
