/AD/UA01 Ficheros/Ejercicios/Ejercicio_1/build/
/AD/UA01 Ficheros/Tarea/AD_UA1_Tarea1/build/
/PSP/PSP 00/PruebaEmpaquetadoJarANT/nbproject/private/
/PSP/PSP 00/PruebaEmpaquetadoJarANT/dist/
/PSP/PSP 00/PruebaEmpaquetadoJarANT/build/
/PSP/PSP 00/PuebaEmpaquetadoJarMaven/target/
/PSP/PSP 00/BasicSpringbootProject/target/
/PSP/PSP 00/mavenproject1/target/
/PSP/PSP 00/JavaApplication5/nbproject/private/
/PSP/PSP 00/JavaApplication5/build/
/AD/UA01 Ficheros/Tarea/AD_UA1_Tarea2/nbproject/private/
/AD/UA01 Ficheros/Tarea/AD_UA1_Tarea2/build/
/DI/Tema1/Pruebas/ConversorCelsius/nbproject/private/
/DI/Tema1/Pruebas/ConversorCelsius/build/
/DI/Tema1/Tareas/Tarea_1/nbproject/private/
/DI/Tema1/Tareas/Tarea_1/build/
/DI/Tema1/Tareas/DI_Tarea_1_2/nbproject/private/
/DI/Tema1/Tareas/DI_Tarea_1_2/build/
/PSP/PSP 01/Ejercicios/PSP_Tema1_Ejercicios/target/
